<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
    </head>
    <body>
        
        <main>
            <h2>Registro</h2>
            <section>
                <p>Crear una cuenta</p>
                <form action="">
                    <input type="text" name="nombre-usuario" id="nombre-usuario" placeholder="Nombre de usuario">
                    <input type="text" name="correo" id="correo" placeholder="Correo electrónico">
                    <input type="password" name="contrasena" id="contrasena" placeholder="Contraseña">
                    <input type="password" name="contrasena-repetida" id="contrasena-repetida" placeholder="Repetir contraseña">
                    <button type="submit">Registrarse</button>
                </form>
            </section>
            <section>
                <button>Registrarse con Facebook</button>
                <button>Registrarse con Google</button>
                <button>Registrarse con Outlook</button>
            </section>
        </main>

        <footer>
            <section>
                <p>CINEMOVIES</p>
            </section>
            <section>
                <div>
                    <i class="fa-brands fa-instagram">instagram</i>
                </div>
                <div>
                    <i class="fa-brands fa-x-twitter">twitter</i>
                </div>
                <div>
                    <i class="fa-regular fa-envelope">correo</i>
                </div>
            </section>
            <section>
                Copyright © 2023-2023 Cinemovies
            </section>
        </footer>

    </body>
</html>