.main-categorias {
    font-style: bold;
    background: linear-gradient( #AC1BD0 0% ,#8F28A9 20%, #763686 40%, #684171 60%, #5E4A63 80%, hsl(0, 0%, 34%) 100%);
    height: 80%;
    padding: 16px;
}

.seccionCategorias {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid var(--colors-blanco) 3px;
    color: var(--colors-blanco);
}
    /* Estilos generales */
.dropdown {
    display: flex;
    position: relative;
    display: inline-block;
    /* gap: 100px; */
    align-items: center;
}

.seccionIntermedia { /* Lo agregue porque sino en mi compu se veia muy feo. Hace falta arreglar para la version movil!!*/
    display: flex;
    align-items: center;
    gap: 16px;
}
/* .dropdown a {
    position: absolute;
} */
/* .dropdown {
    position: relative;
    display: inline-block;
    right: 480px;
    top: 3px;
  } */

  /* Estilos del botón */
  .dropbtn {
    background-color: #6e1984;
    color: white;
    padding: 7px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    /* height: 50%; */
    /* position: absolute; */
    /* left: 100px; */
    /* top: 10px; */
    /* width: 128px; */
  }

  /* Estilos del contenido desplegable */
  .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
  }

  /* Mostrar el contenido desplegable al pasar el ratón por encima */
  .dropdown:hover .dropdown-content {
      display: block;
  }

  /* Estilos de los enlaces del contenido desplegable */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }

  /* Estilos de los enlaces al pasar el ratón por encima */
  .dropdown-content a:hover {
      background-color: #f1f1f1;
  }

  /* ---------------------- */


.trailer{
    display: none;
}

.Buscar {
    border: none;
    display: block;
    margin: 7px;
    padding: 5px;
    border-radius: 4px;
}

.lista-categorias {
    padding: 8px;
    box-shadow: 6px 12px 50px -2px rgba(0, 0, 0, 0.75);
}

ul {
    padding: 0;
    margin: 0;
}

.alineacion-movil {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.lista-general {
    margin: none;
    text-align: center;
    padding: 0px;
}

.contenido-pelicula {
    background: var(--colors-blanco);
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.contenido-categoria {
    background: var(--colors-blanco);
    padding: 4px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-decoration: none;
}


.titulo-pelicula {
    /* left: 45px; */
    /* margin-bottom: 18px; */
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    /* font-size: 45px; */
    /* MODIFICAR COLORES */
    color: var(--colors-naranja)
    /* padding: 15px; */

}
.titulo-categ {
    /* left: 45px; */
    /* margin-bottom: 18px; */
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    /* font-size: 45px; */
    /* MODIFICAR COLORES */
    color: var(--colors-naranja)
    /* padding: 15px; */

}

.linea {
    list-style: none;
    text-align: left;
}

.poster {
    width: 162px;
    border-radius: 15px;
    box-shadow: 6px 12px 50px -2px rgba(0, 0, 0, 0.75);
}
.poster-categoria {
    width: 162px;
    border-radius: 15px;
    box-shadow: 6px 12px 50px -2px rgba(0, 0, 0, 0.75);
}

.cajas {
    display: flex;
}

.texto-caja {
    display: none;
    text-align: left;
    position: relative;
    bottom: 205px;
    left: 9px;
    font-style: normal;
    margin-bottom: 5px;
    font-size: 15px;
}

.boton-ver {
    color: #ffffff;
    padding: 8px 16px;
    background-color: #5c008f;
    border-radius: 4px;
    /* width: 85px; */
    font-size: 15px;
    border: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: transform 300ms;
}
.boton-ver:hover {
    cursor: pointer;
    transform: scale(1.05);
    /* filter: brightness(130%); */
    /* filter: brightness(130%); */
}

.sin-padding{
    display: none;
}




@media(min-width: 426px) {
    .alineacion-movil {
        flex-direction: row;
    }

    .contenido-pelicula {
        align-items: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        padding: 16px;
        min-width: 45%;
        max-width: 45%;
        background: var(--colors-blanco);
    }
    .contenido-categoria {
        align-items: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        padding: 16px;
        min-width: 45%;
        max-width: 45%;
        background: var(--colors-blanco);

    }

    .titulo-pelicula {
        font-size: 32px;
    }
    .titulo-categ {
        font-size: 28px;
    }

    .contenido{
        display: flex;
        width: 100%;
        gap: 16px;
        align-items: center;
    }
    .contenido-ch-categ {
        display: flex;
        width: 100%;
        gap: 16px;
        justify-content: center;
        align-items: center;
    }

    .detalle-pelicula {
        /* color:#ffffff; */
    }

    .linea{
        /* margin-bottom: 1em; */
        list-style: none;
    }



    .trailer{
        width:"560";
        height:"315";

    }

    .texto-caja {
        display: block;
    }

    .alineacion-movil {
        /* display: block; */
        text-align: left;
        padding: 0 20px;
        margin-top: 21px;
        display: flex;
        gap: 16px;
        flex-wrap: wrap;
    }

    .poster {
        box-shadow: none;
        width: 20%;
    }
    .poster-categoria {
        box-shadow: none;
        width: 90%;
        margin: 0px;
    }

    .texto-caja {
        display: block;
    }

    .description {
        display: flex;
    }

    .boton-ver{
        position: relative;
        left:45%;
        margin-top: 28px;
        margin-bottom: 30px;
    }

@media(min-width: 992px) {  

    .contenido-categoria {
        align-items: center;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        padding: 16px;
        min-width: 23%;
        max-width: 23%;
        background: var(--colors-blanco);

    }
    
}





}