.main-categorias {
    font-style: bold;
    background: linear-gradient( #AC1BD0 0% ,#8F28A9 20%, #763686 40%, #684171 60%, #5E4A63 80%, hsl(0, 0%, 34%) 100%);
    height: 80%;
    padding: 16px;
}

.seccionCategorias {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid var(--colors-blanco) 3px;
    color: var(--colors-blanco);
    
}

.trailer{
    display: none;
}

.Buscar {
    border: none;
    display: block;
    margin: 7px;
    padding: 5px;
    border-radius: 4px;
}

.lista-categorias {
    padding: 8px;
    box-shadow: 6px 12px 50px -2px rgba(0, 0, 0, 0.75);
}

;

ul {
    padding: 0;
    margin: 0;
}

.alineacion-movil {
    text-align: center;
}

.lista-general {
    margin: none;
    text-align: center;
    padding: 0px;
}

.titulo-pelicula {
    left: 45px;
    margin-bottom: 18px;
    font-size: 35px;
}

.poster {
    width: 162px;
    border-radius: 15px;
    box-shadow: 6px 12px 50px -2px rgba(0, 0, 0, 0.75);
}

.cajas {
    display: flex;
}

.texto-caja {
    display: none;
    text-align: left;
    position: relative;
    bottom: 205px;
    left: 9px;
    font-style: normal;
    margin-bottom: 5px;
    font-size: 15px;
}

.boton-ver {
    color: #ffffff;
    padding: 0.75rem;
    background-color: #5c008f;
    border-radius: 4px;
    width: 85px;
    font-size: 15px;
    border: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    transition: transform 300ms;
}
.boton-ver:hover {
    cursor: pointer;
    transform: scale(1.05);
    /* filter: brightness(130%); */
    /* filter: brightness(130%); */
}

.sin-padding{
    display: none;
}

.titulo-pelicula{
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 45px;
    /* MODIFICAR COLORES */
    color: #ffb000;                     
    text-shadow: #F04E24 0px 4px 4px;
    padding: 15px;
}


@media(min-width: 426px) {
    .contenido-pelicula {
        border: solid rgb(18, 18, 79) 1px;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        border-radius: 16px;
        position: relative;
        right: 8px;
        box-shadow: 6px 12px 50px -2px rgba(0, 0, 0, 0.75);
    }

    .sin-padding {
        color:#ffffff;
        display: flex;
        align-items: center;
        margin-top: 13px;
        position: relative;
        left: 54px;
    }

    .linea{
        margin-bottom: 1em;
    }


    .contenido{
        display: flex;
        width: 100%;
    }

    .trailer{
        width:"560";
        height:"315";
        
    }

    .texto-caja {
        display: block;
    }

    .alineacion-movil {
        display: block;
        text-align: left;
        padding: 0 20px;
        margin-top: 21px;
    }

    .poster {
        box-shadow: none;
        width: 20%;
    }

    .texto-caja {
        display: block;
    }

    .description {
        display: flex;
    }

    .boton-ver{
        position: relative;
        left:45%;
        margin-top: 28px;
        margin-bottom: 30px;
    }

    /* Estilos generales */
.dropdown {
    position: relative;
    display: inline-block;
    right: 480px;
    top: 3px;
  }
  
  /* Estilos del botón */
  .dropbtn {
    background-color: #6e1984;
    color: white;
    padding: 7px;
    font-size: 12px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* Estilos del contenido desplegable */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  /* Mostrar el contenido desplegable al pasar el ratón por encima */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Estilos de los enlaces del contenido desplegable */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Estilos de los enlaces al pasar el ratón por encima */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

}