.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20%;
    justify-content: space-around;
    width: 100%;
    max-width: 400px;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: auto;
    padding: 3px;
    color: var(--colors-naranja);
    /* text-shadow: #F04E24 0px 4px 4px; */
}