.header {
  background-color: var(--colors-violeta);
}

.header-content {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
  align-items: center;
}

.header-logo {
  text-decoration: none;
}

.header-logo span{
  color: var(--colors-naranja);
  font-weight: 700;
  font-size: 1.2em;
  font-family: 'Bebas Neue', system-ui;
  letter-spacing: .2cap;
}

.menu-items {
  display: none;
}

/*MENU LATERAL*/


#check {
  /* display: none; */
}

.burguer-menu i {
  color: var(--colors-blanco);
  font-size: 1em;
}

#check:checked ~ .menu-items {
  /* left: 0; */
  display: block;
  border: 1px solid red;
}

/*----------*/

@media screen and (min-width: 768px) {
  .menu-items {
    display: block;
    display: flex;
    gap: 16px;
  }

  .menu-item {
    list-style: none;
  }

  .menu-item a {
    text-decoration: none;
    color: var(--colors-blanco);
  }

  .burguer-menu {
    display: none;
  }
}