.header {
  background-color: var(--colors-violeta);
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  width: 100%;
  z-index: 20;
}

.header-logo {
  position: absolute;
  text-decoration: none;
  margin: 31.5px 0px;
}

.header-logo span{
  color: var(--colors-naranja);
  font-weight: 700;
  font-size: 1.2em;
  font-family: 'Bebas Neue', system-ui;
  letter-spacing: .2cap;
}


.menu-items {
  float: right;
}

.menu-item {
  display: inline-block;
  line-height: 80px;
}

.menu-item a {
  color: var(--colors-blanco);
  padding: 8px 16px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

.burguer-menu {
  font-size: 30px;
  color: #fff;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 952px) {
  .burguer-menu {
    display: block;
  }

  .menu-items {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--colors-violeta);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  .menu-item {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  #check:checked~.menu-items {
    left: 0;
  }
}
