.main-pagar {
    background-color: rgb(206, 202, 202);
}

.section-datos {
    padding: 25px 0 25px 0;
}

.div-pagar {
    padding: 5px 5px 15px 5px;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 10px #b657e9;
}

.form-pagar {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.datos-pagar {
    padding: 5px;
    display: flex;
    text-align: left;
    justify-content: space-between;
}

.input-pagar {
    width: 50%;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 2px #5c008f;
    padding: 5px;
    text-align: center;
}

@media(min-width:481px){
    .div-pagar {
        margin: 0 5% 0 5%;
    }

    .section-datos {
        margin: 0 10% 0 10%;
    }
}

@media(min-width:769px){
    .div-pagar {
        margin: 3% 15% 3% 15%;
    }
}