.titulo-productos {
    color: var(--colors-negro);
}

.lista-productos {
    margin: auto;
}

.item-productos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 15px 30%;
    padding: 10px 5px;
    border-radius: 10px;
    background-color: var(--colors-blanco);
    font-size: 16px;
}

.item-productos img{
    margin: 5%;
    width: 90%;
    height: 90%;
    border-radius: 5px;
}

.item-productos a {
    text-decoration: none;
}

.item-productos p {
    padding: 0 0 15px 0;
}

@media(min-width:481px){
    .item-productos {
        font-size: 20px;
    }

    .item-productos img{
        margin: 5%;
        width: 90%;
        height: 90%;
        border-radius: 5px;
    }
}

@media(min-width:769px){
    .lista-productos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .item-productos {
        flex-direction: column;
        max-width: 15%;
        margin: 15px 15px;
        flex-basis: 60%;
    }

    .item-productos img {
        width: 10vw;
        height: 15vw;
    }
    
}