* {
  margin: 0;
  padding: 0;
}

body {
  min-width: 400px;
}

.carrusel {
  height: 200px;
}

/* Slider */
#slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

@keyframes load {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

.slides {
  width: 400%;
  height: 100%;
  position: relative;
  -webkit-animation: slide 30s infinite;
  -moz-animation: slide 30s infinite;
  animation: slide 30s infinite;
}

.slider {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Switch */
.switch {
  width: 120px;
  height: 10px;
  position: absolute;
  bottom: 24px;
  z-index: 99;
  left: 30px;
}

.switch>ul {
  list-style: none;
}

.switch>ul>li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
  float: left;
  margin-right: 5px;
  cursor: pointer;
}

.switch ul {
  overflow: hidden;
}

.on {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #f39c12;
  position: relative;
  -webkit-animation: on 30s infinite;
  -moz-animation: on 30s infinite;
  animation: on 30s infinite;
}

/* Animation */
@-webkit-keyframes slide {

  0%,
  100% {
    margin-left: 0%;
  }

  21% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }

  46% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  71% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  96% {
    margin-left: -300%;
  }
}

@-moz-keyframes slide {

  0%,
  100% {
    margin-left: 0%;
  }

  21% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }

  46% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  71% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  96% {
    margin-left: -300%;
  }
}

@keyframes slide {

  0%,
  100% {
    margin-left: 0%;
  }

  21% {
    margin-left: 0%;
  }

  25% {
    margin-left: -100%;
  }

  46% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  71% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  96% {
    margin-left: -300%;
  }
}

@-webkit-keyframes on {

  0%,
  100% {
    margin-left: 0%;
  }

  21% {
    margin-left: 0%;
  }

  25% {
    margin-left: 15px;
  }

  46% {
    margin-left: 15px;
  }

  50% {
    margin-left: 30px;
  }

  71% {
    margin-left: 30px;
  }

  75% {
    margin-left: 45px;
  }

  96% {
    margin-left: 45px;
  }
}

@-moz-keyframes on {

  0%,
  100% {
    margin-left: 0%;
  }

  21% {
    margin-left: 0%;
  }

  25% {
    margin-left: 15px;
  }

  46% {
    margin-left: 15px;
  }

  50% {
    margin-left: 30px;
  }

  71% {
    margin-left: 30px;
  }

  75% {
    margin-left: 45px;
  }

  96% {
    margin-left: 45px;
  }
}

@keyframes on {

  0%,
  100% {
    margin-left: 0%;
  }

  21% {
    margin-left: 0%;
  }

  25% {
    margin-left: 15px;
  }

  46% {
    margin-left: 15px;
  }

  50% {
    margin-left: 30px;
  }

  71% {
    margin-left: 30px;
  }

  75% {
    margin-left: 45px;
  }

  96% {
    margin-left: 45px;
  }
}

@media screen and (min-width: 768px) {
  .carrusel {
    height: 400px;
  }

  .switch {
    width: 120px;
    height: 10px;
    position: absolute;
    bottom: 24px;
    z-index: 99;
    left: 30px;
  }
}
