@import url('./detalles.css');
@import url('./carrito.css');
@import url('./login.css');
@import url('./register.css');
@import url('./button.css');
@import url('./cards-categoria.css');
@import url('./header.css');
@import url('./footer.css');
@import url('./input.css');
@import url('./titulo_form.css');
@import url('./field.css');
@import url('./home.css');
@import url('./slide.css');
@import url('./categorias.css');
@import url('./promociones.css');

:root {
  --colors-blanco: #ffffff;
  --colors-negro: #0b0b0b;
  --colors-violeta: #5c008f;
  --colors-naranja: #ffb000;
  --colors-azul: #0000e6;
  --colors-gris: #868686;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}

body{
  background-color: var(--colors-negro);
}

.wrapper {
  max-inline-size: 1366px;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  margin: auto;
}

/* @media screen and (max-width: 767px){
  .wrapper {
    width: 393px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .wrapper {
    width: 720px;
    margin: auto;
  }
}

@media screen and (min-width: 1024px){
  .wrapper {
    width: 960px;
    margin: auto;
  }
} */

/*cambiando la barra de scroll*/

::-webkit-scrollbar {
  inline-size: .5rem;
  block-size: .5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--colors-blanco);
  border-radius: .5rem;
}

::-webkit-scrollbar-track {
  background: var(--colors-naranja);
}