<head>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>prueba</title>
    </head>
    <body>
        <header class="header">
            <div class="wrapper">
              <div class="header-content">
                <div class="header-logo">
                  <span>CINEMOVIE</span>
                </div>
                <nav class="nav">
                  <ul class="menu-items">
                    <li class="menu-item"><a href="/">Kiosco</a></li>
                    <li class="menu-item"><a href="/">Carrito</a></li>
                    <li class="menu-item"><a href="/login">Login</a></li>
                    <li class="menu-item"><a href="/registro">Registro</a></li>
                  </ul>
                </nav>
                <div class="burguer-menu">
                  <i class="fa-solid fa-bars"></i>
                </div>
              </div>
            </div>
          </header>

            
        
    </body>
    </html>
</head>