<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
  <%- include('./partials/header') %>

    <main class="main-categorias">
      <div class="seccionCategorias">
        <h1>Estrenos</h1>
        <div class="dropdown">
            <button class="dropbtn"><use>selec</use></button>
            <div class="dropdown-content">
              <a href="#" category="estrenos" id="seleccion-categoria">Estrenos</a>
              <a href="#"category="accion" id="seleccion-categoria">Acción</a>
              <a href="#"category="clasicos" id="seleccion-categoria">Clásicos</a>
              <a href="/categorias/drama"category="drama" id="seleccion-categoria">Drama</a>
            </div>
          </div>
        <input type="text" class="Buscar" placeholder="Buscar Película">
      </div>

      <section class="categorias">
          <div class="alineacion-movil">
              <h3 class="titulo-pelicula">pepino</h3>
              <div class="contenido-pelicula">
                  <div class="contenido">
                      <img class="poster" src="images/napoleon-poster-64ad1f6325a8b.jpg">
                      <div class="sin-padding">
                          <ul>
                              <li class="linea" >Calificación: Apta para mayores de 13 años</li>
                              <li class="linea" >Duración: 158 minutos</li>
                              <li class="linea" >Titulo Original: Napoleon</li>
                              <li class="linea" >Género: Histórica , Biográfica</li>
                              <li class="linea" >Director: Ridley Scott</li>
                              <li class="linea" >Actores: Joaquin Phoenix, Vanessa Kirby, Ludivine Sagnier</li>
                              <li class="linea" >Origen: Reino Unido, Estados Unidos</li>
                          </ul>
                      </div>
                      <div class="trailer">
                        <iframe width="560" height="315" src="https://www.youtube.com/watch?v=NjMJwewmcfA" frameborder="0" allowfullscreen></iframe>
                      </div>
                  </div>
              </div>

              <div>
                  <button class="boton-ver" type="button"> VER </button>
              </div>
          </div>
          <div class="alineacion-movil">
              <h3 class="titulo-pelicula">Oppenheimer</h3>
              <div class="contenido-pelicula">
                  <div class="contenido">
                      <img class="poster" src="images/oppenheimer.jpg">
                      <div class="sin-padding">
                          <ul>
                              <li class="linea" >Calificación: Apta para mayores de 13 años</li>
                              <li class="linea" >Duración: 180 minutos</li>
                              <li class="linea" >Titulo Original: Oppenheimer</li>
                              <li class="linea" >Género: Histórica , Biográfica, Drama</li>
                              <li class="linea" >Director: Christopher Nolan</li>
                              <li class="linea" >Actores: Cillian Murphy, Emily Blunt, Robert Downey Jr.</li>
                              <li class="linea" >Origen: Reino Unido, Estados Unidos</li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div>
                  <button class="boton-ver" type="button"> VER </button>
              </div>
          </div>
          <div class="alineacion-movil">
              <h3 class="titulo-pelicula">Napoleon</h3>
              <div class="contenido-pelicula">
                  <div class="contenido">
                      <img class="poster" src="images/napoleon-poster-64ad1f6325a8b.jpg">
                      <div class="sin-padding">
                          <ul>
                              <li class="linea" >Calificación: Apta para mayores de 13 años</li>
                              <li class="linea" >Duración: 158 minutos</li>
                              <li class="linea" >Titulo Original: Napoleon</li>
                              <li class="linea" >Género: Histórica , Biográfica</li>
                              <li class="linea" >Director: Ridley Scott</li>
                              <li class="linea" >Actores: Joaquin Phoenix, Vanessa Kirby, Ludivine Sagnier</li>
                              <li class="linea" >Origen: Reino Unido, Estados Unidos</li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div>
                  <button class="boton-ver" type="button"> VER </button>
              </div>
          </div>
          <div class="alineacion-movil">
              <h3 class="titulo-pelicula">Napoleon</h3>
              <div class="contenido-pelicula">
                  <div class="contenido">
                      <img class="poster" src="images/napoleon-poster-64ad1f6325a8b.jpg">
                      <div class="sin-padding">
                          <ul>
                              <li class="linea" >Calificación: Apta para mayores de 13 años</li>
                              <li class="linea" >Duración: 158 minutos</li>
                              <li class="linea" >Titulo Original: Napoleon</li>
                              <li class="linea" >Género: Histórica , Biográfica</li>
                              <li class="linea" >Director: Ridley Scott</li>
                              <li class="linea" >Actores: Joaquin Phoenix, Vanessa Kirby, Ludivine Sagnier</li>
                              <li class="linea" >Origen: Reino Unido, Estados Unidos</li>
                          </ul>
                      </div>
                  </div>
              </div>

              <div>
                  <button class="boton-ver" type="button"> VER </button>
              </div>
          </div>
      </section>
  </main>
  <%- include('./partials/footer') %>

</body>

</html>