<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.css">
  <title>Cinemovies</title>
</head>

<body>
  <header>
    <div class="wrapper">
      <div class="header-content">
        <div class="header-logo">
          <span>CINEMOVIE</span>
        </div>
        <nav class="nav">
          <ul class="menu-items">
            <li class="menu-item"><a href="/">Kiosco</a></li>
            <li class="menu-item"><a href="/">Carrito</a></li>
            <li class="menu-item"><a href="/login">Login</a></li>
            <li class="menu-item"><a href="/registro">Registro</a></li>
          </ul>
        </nav>
        <div class="burguer-menu">
          <i class="fa-solid fa-bars"></i>
        </div>
      </div>
    </div>
  </header>
  <main>
    <form action="/categorias" method="POST" class="creat-categories">
      <h2>Ctegorias</h2>

    </form>

  </main>

</body>

</html>