<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/detalle_producto.html">
    <link rel="stylesheet" href="../../public/css/styles.css">
    <title>Detalles</title>
</head>
<body>
    <header class="header">
        <div class="wrapper">
          <div class="header-content">
            <nav class="nav">
              <input type="checkbox" id="check">
              <label for="check" class="burguer-menu">
                <i class="fa-solid fa-bars"></i>
              </label>
              <a href="/" class="header-logo">
                <span>CINEMOVIE</span>
              </a>
              <ul class="menu-items">
                <li class="menu-item"><a href="/kiosco"><i class="fa-solid fa-store"></i></a></li>
                <li class="menu-item"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="menu-item"><a href="/promociones">Promociones</a></li>
                <li class="menu-item"><a href="/login">Login</a></li>
                <li class="menu-item"><a href="/registro">Registro</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </header>
    <div class="container">
        <h1>Nombre de la Película</h1>
        <img src="/grupo_13_cinemovies/public/images/cover1.jpeg" alt="Imagen de la Película">
    
        <div class="details">
            <p><strong>Género:</strong> Acción</p>
            <p><strong>Año:</strong> 2022</p>
            <p><strong>Director:</strong> Nombre del Director</p>
            <p><strong>Reparto:</strong> Actor1, Actor2, Actor3</p>
            <p><strong>Descripción:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam tincidunt...</p>
        </div>
    
        <div class="rating">
            <p><strong>Puntuación:</strong></p>
            <div id="star-rating">
                ★★★★☆
            </div>
        </div>
    
        <button class="reserve-button">Reservar</button>
        <a href="#" class="back-button">Volver</a>
        
    </div>

    <footer>
        <div class="wrapper">
          <section>
            <p class="logo-footer">CINEMOVIE</p>
          </section>
          <section class="iconos-footer">
            <div>
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div>
              <i class="fa-brands fa-twitter"></i>
            </div>
            <div>
              <i class="fa-regular fa-envelope"></i>
            </div>
          </section>
          <section class="copyright">
            Copyright © 2023-2023 Cinemovies
          </section>
        </div>
      </footer>
    </body>
    
</html>