<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <main>
                <div class="wrapper">

                    <form class="section-input">
                        <label class="field">Categoria
                            <input type="text" name="category" id="categoria" class="input-text">
                        </label>
                        <label class="field">Año
                            <input type="date" name="year" min="1900" max="2023" step="1" value="2016" class="input-text" />
                        </label>
                        <label class="field">Director
                            <input type="text" class="input-text" name="director" id="director">
                        </label>
                        <label class="field">Reparto
                            <input type="text" class="input-text" name="cast" id="reparto">
                        </label>
                        <label class="field">Descripción
                            <input type="text" class="input-text" name="description" id="descripcion">
                        </label>
                        <label class="field">Puntuación
                            <input type="text" class="input-text" name="rating" id="puntacion">
                        </label>
                        <label class="field">Imagen
                            <input type="file" class="input-text" name="image" id="imagen">
                        </label>

                        <div class="field">
                            <button class="button" type="submit" id = "login-rg-btn">Crear</button>
                        </div>
                    </form>
                </div>
            </main>
            <%- include('./partials/footer') %>
    </body>

</html>