<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>
    <%- include('./partials/headerLoggedIn') %>

    <main>
        <form action="/editar_usuario/process" method="POST">


            <button type="submit">ENVIAR</button>
        </form>
    </main>


    <%- include('./partials/footer') %>
</body>
</html>