<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>

    <%- include('./partials/header') %>

    <main class="ir-a-pagar-body">

        <section>
            <div>
                <form action="">
                    <div>
                        <label for="opcion-tarjeta">Tipo de tarjeta</label>
                        <select name="opcion-tarjeta" id="opcion-tarjeta">
                            <option value="" disabled selected>Elija su tarjeta</option>
                            <optgroup label="Mastercard">
                                <option value="mastercard-debito">Mastercard Débito</option>
                                <option value="mastercard-credito">Mastercard Crédito</option>
                            </optgroup>
                            <optgroup label="Visa">
                                <option value="visa-debito">Visa Débito</option>
                                <option value="visa-credito">Visa Crédito</option>
                            </optgroup>
                        </select>
                    </div>

                    <div>
                        <label for="nombre-completo">Nombre Completo</label>
                        <input type="text" name="nombre-completo" id="nombre-completo">
                    </div>

                    <div>
                        <label for="numero-tarjeta">Nº de tarjeta</label>
                        <input type="text" name="numero-tarjeta" id="numero-tarjeta">
                    </div>

                    <div>
                        <label for="vencimiento">Fecha de vencimiento</label>
                        <input type="text" name="vencimiento" id="vencimiento">
                    </div>

                    <div>
                        <label for="codigo-seguridad">Código de seguridad</label>
                        <input type="text" name="codigo-seguridad" id="codigo-seguridad">
                    </div>

                    <div>
                        <label for="cuotas">Cuotas</label>
                        <input type="text" name="cuotas" id="cuotas">
                    </div>

                    <div class="boton-carrito">
                        <button class="button">Pagar</button>
                    </div>
                </form>
            </div>
        </section>

    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>