<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>

    <% if (user === undefined) { %>
        <%- include('./partials/header') %>
    <% } else { %>
        <%- include('./partials/headerLoggedIn') %>
    <% } %>

    <main class="main-pagar">

        <section>
            <div class="div-pagar">
                <form class="form-pagar" action="">
                    <section class="section-datos">
                        <div class="datos-pagar">
                            <label class="label-pagar" for="opcion-tarjeta">Tipo de tarjeta</label>
                            <select class="input-pagar" name="opcion-tarjeta" id="opcion-tarjeta">
                                <option value="" disabled selected>Elija su tarjeta</option>
                                <optgroup label="Mastercard">
                                    <option value="mastercard-debito">Mastercard Débito</option>
                                    <option value="mastercard-credito">Mastercard Crédito</option>
                                </optgroup>
                                <optgroup label="Visa">
                                    <option value="visa-debito">Visa Débito</option>
                                    <option value="visa-credito">Visa Crédito</option>
                                </optgroup>
                            </select>
                        </div>
    
                        <div class="datos-pagar">
                            <label class="label-pagar" for="nombre-completo">Nombre Completo</label>
                            <input class="input-pagar" type="text" name="nombre-completo" id="nombre-completo">
                        </div>
    
                        <div class="datos-pagar">
                            <label class="label-pagar" for="numero-tarjeta">Nº de tarjeta</label>
                            <input class="input-pagar" type="text" name="numero-tarjeta" id="numero-tarjeta">
                        </div>
    
                        <div class="datos-pagar">
                            <label class="label-pagar" for="vencimiento">Fecha de vencimiento</label>
                            <input class="input-pagar" type="text" name="vencimiento" id="vencimiento">
                        </div>
    
                        <div class="datos-pagar">
                            <label class="label-pagar" for="codigo-seguridad">Código de seguridad</label>
                            <input class="input-pagar" type="text" name="codigo-seguridad" id="codigo-seguridad">
                        </div>
    
                        <div class="datos-pagar">
                            <label class="label-pagar" for="cuotas">Cuotas</label>
                            <input class="input-pagar" type="text" name="cuotas" id="cuotas">
                        </div>
                    </section>

                    <section class="section-boton">
                        <div class="boton-carrito">
                            <button class="button">Pagar</button>
                        </div>
                    </section>
                </form>
            </div>
        </section>

    </main>

    <%- include('./partials/footer') %>
    
</body>
</html>