<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kiosco</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="css/kiosco.css">
        <link rel="stylesheet" href="css/footer.css">
        <link rel="stylesheet" href="css/button.css">
    </head>
    <body class="kiosco-body">
        
        <!-- <div class="wrapper"> -->

        <main class="kiosco-main">

                    <section class="section-kiosco">
                        <h3>Snacks</h3>
                        <div class="items-kiosco">
                            <div class="articulo-kiosco">
                                <p>Pochoclos</p>
                                <img src="/images/pochoclos.png" alt="Pochoclos">
                                <p>$1000</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                            <div class="articulo-kiosco">
                                <p>Nachos</p>
                                <img src="/images/nachos.png" alt="Nachos">
                                <p>$1000</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                            <div class="articulo-kiosco">
                                <p>Pizza</p>
                                <img src="/images/pizza.png" alt="Pizza">
                                <p>$1500</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                        </div>
                    </section>

                    <section class="section-kiosco">
                        <h3>Bebidas</h3>
                        <div class="items-kiosco">
                            <div class="articulo-kiosco">
                                <p>CocaCola</p>
                                <img src="/images/coca-cola.png" alt="Lata CocaCola">
                                <p>$800</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                            <div class="articulo-kiosco">
                                <p>7up</p>
                                <img src="/images/7up.png" alt="Lata 7up">
                                <p>$800</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                            <div class="articulo-kiosco">
                                <p>Agua</p>
                                <img src="/images/agua.png" alt="Botella Agua">
                                <p>$500</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                        </div>
                    </section>

                    <section class="section-kiosco">
                        <h3>Extras</h3>
                        <div class="items-kiosco">
                            <div class="articulo-kiosco">
                                <p>Vaso Avengers</p>
                                <img src="/images/vaso-avengers.png" alt="Vaso Avengers">
                                <p>$3000</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                            <div class="articulo-kiosco">
                                <p>Vaso Señor de los Anillos</p>
                                <img src="/images/vaso-anillos.png" alt="Vaso Señor de los Anillos">
                                <p>$3000</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                        </div>
                        
                    </section>
        </main>
        <!-- </div> -->

        <footer>
                <section>
                    <p class="logo-footer">CINEMOVIE</p>
                </section>
                <section class="iconos-footer">
                    <div>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div>
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                </section>
                <section class="copyright">
                    Copyright © 2023-2023 Cinemovies
                </section>
        </footer>

        
    </body>
</html>