<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>    
    <body class="kiosco-body">

        <% if (typeof user === 'undefined') { %>
            <%- include('./partials/header') %>
        <% } else { %>
            <%- include('./partials/headerLoggedIn') %>
        <% } %>
          
        <main class="kiosco-main">
            <div class="wrapper">

                    <section class="section-kiosco">
                        <h3>Snacks</h3>
                        <div class="items-kiosco">
                            <div class="articulo-kiosco">
                                <p>Pochoclos</p>
                                <img src="/images/pochoclos.png" alt="Pochoclos">
                                <p>$1000</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                            <div class="articulo-kiosco">
                                <p>Nachos</p>
                                <img src="/images/nachos.png" alt="Nachos">
                                <p>$1000</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                            <div class="articulo-kiosco">
                                <p>Pizza</p>
                                <img src="/images/pizza.png" alt="Pizza">
                                <p>$1500</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                        </div>
                    </section>

                    <section class="section-kiosco">
                        <h3>Bebidas</h3>
                        <div class="items-kiosco">
                            <div class="articulo-kiosco">
                                <p>CocaCola</p>
                                <img src="/images/coca-cola.png" alt="Lata CocaCola">
                                <p>$800</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                            <div class="articulo-kiosco">
                                <p>7up</p>
                                <img src="/images/7up.png" alt="Lata 7up">
                                <p>$800</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                            <div class="articulo-kiosco">
                                <p>Agua</p>
                                <img src="/images/agua.png" alt="Botella Agua">
                                <p>$500</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                        </div>
                    </section>

                    <section class="section-kiosco">
                        <h3>Extras</h3>
                        <div class="items-kiosco">
                            <div class="articulo-kiosco">
                                <p>Vaso Avengers</p>
                                <img src="/images/vaso-avengers.png" alt="Vaso Avengers">
                                <p>$3000</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                            <div class="articulo-kiosco">
                                <p>Vaso Señor de los Anillos</p>
                                <img src="/images/vaso-anillos.png" alt="Vaso Señor de los Anillos">
                                <p>$3000</p>
                                <button class="button">Agregar al carrito</button>
                            </div>
                        </div>
                        
                    </section>
                </div>
        </main>

        <%- include('./partials/footer') %>
        
    </body>
</html>