<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <title>Login</title>
</head>
<body class="login-body">
    <header class="header">
        <div class="wrapper">
          <div class="header-content">
            <div class="header-logo">
              <span>CINEMOVIE</span>
            </div>
            <nav class="nav">
              <ul class="menu-items">
                <li class="menu-item"><a href="/">Kiosco</a></li>
                <li class="menu-item"><a href="/">Carrito</a></li>
                <li class="menu-item"><a href="/">Login</a></li>
                <li class="menu-item"><a href="/">Registro</a></li>
              </ul>
            </nav>
            <div class="burguer-menu">
              <i class="fa-solid fa-bars"></i>
            </div>
          </div>
        </div>
      </header>
        <main class="main">
          <div class="wrapper">
            <div class="main-content">
              <div class="title-underline">
                <h2 class="titulo-login">Iniciar Sesión</h1>
              </div>
                <form class="login-form" action= "/" method="POST">
                      <label for="usuario" class="field">
                          Usuario:
                          <input type="text" name="usuario" id="usuario" class="input-text"> 
                      </label>
                      <label for="contraseña" class="field">
                          Contraseña:
                          <input type="password" name="contraseña" id="contraseña" class="input-text">
                      </label>
                      <div class="login-bottom">
                        <button type="submit" class="button">Login</button>
                        <a href="#"><p>Olvidé mi contraseña</p></a>
                      </div>
                </form>
                <form action="/registro" method="GET" form class="regis-ref">
                    <label>
                      No tienes cuenta?
                      <button type="submit" class="button"> Regístrate</button>
                    </label>
              </form>
            </div>
          </wrapper>
        </main>
</body>
</html>