<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
  <body class="login-body">
    <% if (typeof user === 'undefined') { %>
      <%- include('./partials/header') %>
    <% } else { %>
      <%- include('./partials/headerLoggedIn') %>
    <% } %>

      <main>

        <h2 class="titulo-login">Iniciar sesi칩n</h2>

        <form action="/login/process" method="POST" class="login-form">
          <label for="email" class="field">Correo electr칩nico
            <input type="text" name="email" id="email" class="input-text">
          </label>

          <label for="password" class="field">Contrase침a
            <input type="password" name="password" id="password" class="input-text">
          </label>

          <label for="recordame"> Mantener sesi칩n iniciada</label>
          <input type="checkbox" name="recordame" id="recordame">

          <div class="login-bottom">
            <button type="submit" class="button" id="login-btn">Ingresar</button>
          </div>
        </form>
      </main>
          
    <%- include('./partials/footer') %>
  </body>
</html>
