<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head') %>

<body>


     include('./partials/headerLoggedIn') 

    <main class="main-perfil">

        <section class="section-datos-perfil">
            <div class="user-profile">
                <img src="<%= usuarioActual.foto %>" alt="Foto de perfil"> 
                <h1>¡Hola, <%= usuarioActual.nombre %>!</h1>  
            </div>
        </section>

    </main>
    
    <%- include('./partials/footer') %>
</body>
</html>