<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
    <body>
        <!--------------------------HEADER------------------------------>
        <% if (typeof user === 'undefined') { %>
            <%- include('./partials/header') %>
        <% } else { %>
            <%- include('./partials/headerLoggedIn') %>
        <% } %>
        <!------------------------MAIN------------------>
        <main class="main-promos">
            <div class="main">
                <div class="cards">
                    <a href="/carrito" class="tarjeta">
                        <figure>
                            <img src="/images/Promociones1.png" alt="imagen de promocion">
                        </figure>
                        <div class="texto-de-promo">
                            <p>
                                Adquirí entradas con un 30% de descuento de lunes a jueves  en salas 2D, 3D, 4D y Gold Class para funciones jueves a domingo comprando a través de la web y app de Cinemovie Argentina.
                            </p>
                        </div>
                    </a>
                    <a href="/carrito" class="tarjeta">
                        <figure>
                            <img src="/images/Promociones5.png" alt="imagen de promocion">
                        </figure>
                        <div class="texto-de-promo">
                            <p>
                                Adquirí entradas con un 30% de descuento de lunes a jueves  en salas 2D, 3D, 4D y Gold Class para funciones jueves a domingo comprando a través de la web y app de Cinemovie Argentina.
                            </p>
                        </div>
                    </a>
                    <a href="/carrito" class="tarjeta">
                        <figure>
                            <img src="/images/Promociones3.png" alt="imagen de promocion">
                        </figure>
                        <div class="texto-de-promo">
                            <p>
                                Adquirí entradas con un 30% de descuento de lunes a jueves  en salas 2D, 3D, 4D y Gold Class para funciones jueves a domingo comprando a través de la web y app de Cinemovie Argentina.
                            </p>
                        </div>
                    </a>
                    <a href="/carrito" class="tarjeta">
                        <figure>
                            <img src="/images/Promociones4.png" alt="imagen de promocion">
                        </figure>
                        <div class="texto-de-promo">
                            <p>
                                Adquirí entradas con un 30% de descuento de lunes a jueves  en salas 2D, 3D, 4D y Gold Class para funciones jueves a domingo comprando a través de la web y app de Cinemovie Argentina.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </main>
        <!-------FOOTER--------------------->
        <%- include('./partials/footer') %>
    </body>
    </html>
    