<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

    <body class="register-body">

        <% if (user === undefined) { %>
            <%- include('./partials/header') %>
        <% } else { %>
            <%- include('./partials/headerLoggedIn') %>
        <% } %>

        <main>
            <div class="wrapper">
                <div class="registro">
                    <h2 class="titulo-login">Registro</h2>
                    <section>
                        <form class="section-input" action="/registro" method="post">
                            <label for="user" class="field">
                                Nombre de usuario:
                                <input class="input-text" type="text" name="user" id="nombre-usuario" minlength="3" oninvalid="this.setCustomValidity('*El usuario ingresado no es válido. Debe contener al menos 3 caracteres.')">
                            </label>
                            <label for="email" class="field">
                                Correo electrónico:
                                <input class="input-text" type="text" name="email" id="correo" minlength="1" oninvalid="this.setCustomValidity('*Por favor ingrese un correo electrónico válido')">
                            </label>
                            <label for="password" class="field">
                                Contraseña:
                                <input class="input-text" type="password" name="password" id="contrasena" minlength="3" oninvalid="this.setCustomValidity('*La contraseña debe contener al menos 3 caracteres')">
                            </label>
                            <label for="password" class="field">
                                Repetir contraseña:
                                <input class="input-text" type="password" name="passwordRepeat" id="contrasena-repetida" minlength="3" oninvalid="this.setCustomValidity('*La contraseña debe contener al menos 3 caracteres')">
                            </label>
                            <div class="field">
                                <button class="button" type="submit" id = "login-rg-btn">Registrarse</button>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
        </main>

        <%- include('./partials/footer') %>
        
    </body>
</html>