<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body class="register-body">
        
        <main class="registro">
            <h2 class="titulo-login">Registro</h2>
            <p>Crear una cuenta</p>
            <section>
                <form class="section-input" action="">
                    <label for="nombre-usuario" class="field">
                        Nombre de usuario:
                        <input class="input-text" type="text" name="nombre-usuario" id="nombre-usuario">
                    </label>
                    <label for="correo" class="field">
                        Correo electrónico:
                        <input class="input-text" type="text" name="correo" id="correo">
                    </label>
                    <label for="contrasena" class="field">
                        Contraseña:
                        <input class="input-text" type="password" name="contrasena" id="contrasena">
                    </label>
                    <label for="contrasena-repetida" class="field">
                        Repetir contraseña:
                        <input class="input-text" type="password" name="contrasena-repetida" id="contrasena-repetida">
                    </label>
                    <div class="field">
                        <button class="button" type="submit" id = "login-rg-btn">Registrarse</button>
                    </div>
                </form>
            </section>
            <section class="botones-registro">
                <button class="boton-google"><i class="fa-brands fa-google"></i></button>
                <button class="boton-facebook"><i class="fa-brands fa-facebook-f"></i></button>
                <button class="boton-outlook"><i class="fa-solid fa-at"></i></button>
            </section>
        </main>

        <footer>
            <div class="wrapper">
                <section>
                    <p class="logo-footer">CINEMOVIE</p>
                </section>
                <section class="iconos-footer">
                    <div>
                        <i class="fa-brands fa-instagram"></i>
                    </div>
                    <div>
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                    <div>
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                </section>
                <section class="copyright">
                    Copyright © 2023-2023 Cinemovies
                </section>
            </div>
        </footer>

    </body>
</html>