<footer>
    <div class="wrapper">
      <section>
        <p class="logo-footer">CINEMOVIE</p>
      </section>
      <section class="iconos-footer">
        <div>
          <i class="fa-brands fa-instagram"></i>
        </div>
        <div>
          <i class="fa-brands fa-twitter"></i>
        </div>
        <div>
          <i class="fa-regular fa-envelope"></i>
        </div>
      </section>
      <section class="copyright">
        Copyright © 2023-2023 Cinemovies
      </section>
    </div>
</footer>