<header class="header">
    <div class="wrapper">
      <div class="header-content">
        <nav class="nav">
          <input type="checkbox" id="check">
          <label for="check" class="burguer-menu">
            <i class="fa-solid fa-bars"></i>
          </label>
          <div class="nav-left">
            <a href="/" class="header-logo">
              <span>CINEMOVIE</span>
            </a>
            <a href="/crear_producto" class="header-create">
              <span>Crear pelicula</span>
            </a>
          </div>
          <ul class="menu-items">
            <li class="menu-item"><a href="/kiosco"><i class="fa-solid fa-store"></i></a></li>
            <li class="menu-item"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="menu-item"><a href="/listado_peliculas">Todas nuestras películas</i></a></li>
            <li class="menu-item"><a href="/promociones">Promociones</a></li>
            <li class="menu-item"><a href="/cerrarSesion">Cerrar Sesión</a></li>
            <% if (typeof locals.user !=undefined) { %>
            <div class="perfil"><a href="/perfil"><img class="image-perfil" src="/images/users/<%=user.profilePic%>" alt="Profile pic for <%= user.user %>"></a></div>
            <% } %>
          </ul>
        </nav>
      </div>
    </div>
</header>