<header class="header">
    <div class="wrapper">
      <div class="header-content">
        <nav class="nav">
          <input type="checkbox" id="check">
          <label for="check" class="burguer-menu">
            <i class="fa-solid fa-bars"></i>
          </label>
          <!-- <a href="/" class="header-logo">
            <span>CINEMOVIE</span>
          </a> -->
          <div class="nav-left">
            <a href="/" class="header-logo">
              <span>CINEMOVIE</span>
            </a>
            <a href="/crear_producto" class="header-create">
              <span>Crear pelicula</span>
            </a>
          </div>
          <ul class="menu-items">
            <li class="menu-item"><a href="/kiosco"><i class="fa-solid fa-store"></i></a></li>
            <li class="menu-item"><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="menu-item"><a href="/promociones">Promociones</a></li>
            <li class="menu-item"><a href="/login">Login</a></li>
            <li class="menu-item"><a href="/registro">Registro</a></li>
          </ul>
        </nav>
      </div>
    </div>
</header>